div{
    background-color: lightgreen;
    width: 200px;
    height: 200px;
}
@media screen and (min-width: 600px) {
    body {
      background-color: yellow;
    }
    div{
        width: 500px;
    }
  }
  
  @media screen and (min-width: 769px) {
    body {
      background-color: orange;
    }
    div{
        width: 700px;

    }
  }
  